#app_info{
  color: #d69a5e;
  padding: 5px;
  background-color: #35363a;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 10px;
}
#app_info a{
  color: orangered;
  text-decoration: none;
}
#app_info a:hover{
  text-decoration: underline;
}